<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Commerce Ambulant à Vendre</title>
    <link rel="icon" href=<%= image_path "favicon.ico"%>>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>

  <body id="top">
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= yield :after_js %>
    <%= javascript_pack_tag 'application' %>
    <script src="http://localhost:35729/livereload.js" charset="utf-8"></script>
  </body>
</html>
